<mat-card class="incomes-overview-card top-card">
    <mat-card-header>
      <mat-card-title>Total Incomes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/incomes">Go to incomes</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="budgets-overview-card top-card">
    <mat-card-header>
      <mat-card-title>Overall Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/budgets">Go to budgets</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="expenses-overview-card top-card">
    <mat-card-header>
      <mat-card-title>Total Expenses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/expenses">Go to expenses</button>
    </mat-card-actions>
  </mat-card>